---
permalink: /stories/rearrange/diary/2026-09-29/index.html
eleventyExcludeFromCollections: true
---
<!doctype html><html lang="zh-CN"><head><meta charset="utf-8"><meta name="robots" content="noindex"><meta http-equiv="refresh" content="0; url=../../software-for-whom/"><title>软件到底服务于谁？</title></head><body><p><a href="../../software-for-whom/">阅读选入星图的片段</a></p></body></html>
